.wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex: 1;
  flex-direction: column;
  // A bounded height for the virtual list inside (see VirtualList)
  min-height: 0;
}

.list {
  flex: 1;
}

.header {
  height: 48px;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 16px;
}

.viewSwitcher {
  flex: 1;
}
